#header-heading{
    background: url(../../Libraries/header-blue.gif) no-repeat left top;
    height: 50px;
    margin: 0 auto;
}
#header-heading a:link,#header-heading a:visited{
    color: #fcfcfc;
    font-size: 30px;
    text-decoration: none;
}
.heading{
    color: black;
    font-family: monospace;
    font-size: 24px;
    text-transform: uppercase;
}
#experimentShortInfo
{
    color:#0000AA;
    font-size:22px;
}
#buttonsShortInfo
{
    color:#0000FF;
    font-size:18px;
}
#dropdownSelect{
    padding: 6px 8px;
}
button{
    width: 80px;
    height: 25px;
    margin: 5px;
}
#formedSentenceContent
{
    font-size: 30px;
    color: #000000;
}
#reformTheSentenceButton{
    width: 150px;
    height: 25px;
    margin: 5px;
}
#checkCorrectnessButton{
    width: fit-content;
}
#correctAnswer{
    text-align: center;
    color: #008000;
    font-size: 30px;
}
#wrongAnswer{
    text-align: center;
    color: #ff0000;
    font-size: 30px;
}